
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap-vue
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// Font-awesome
@import '~font-awesome/scss/font-awesome';

// Social buttons
@import 'socials';


.modal a:hover {
    text-decoration: none;
}

.font-sm {
    font-size: .75rem;
}

.bg-black {
    background-color: #111;
}

.navbar .container {
    padding-left: 0;
    padding-right: 0;
}
